.productViewCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.ProductViewCard {
  display: flex;
  flex-direction: column;
  width: 31%;
  gap: 20px;
  text-align: center;
}

.ProductViewCard img {
  width: 100%;
}

.ProductViewCard p {
  font-size: 18px;
  line-height: 30px;
  color: rgb(3, 3, 3);
  font-weight: 600;
}
