nav > div {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
}

nav .nav-left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5%;
}

nav .nav-left a {
  width: 18%;
  cursor: pointer;
}

nav .nav-left a img {
  width: 100%;
}

nav .nav-left .nav-left-menu {
  display: flex;
  gap: 20%;
}

nav .nav-left .nav-left-menu .nav-dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

/* Navbar Right */

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
}

.nav-right button {
  background-color: transparent;
  border: 0;
  font-size: 12px;
  cursor: pointer;
}

.nav-right a {
  text-decoration: none;
}
@media (max-width: 1050px) {
  nav {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    z-index: 99;
    background-color: white;
    top: 0;
    padding: 25px 0;
  }

  nav * {
    font-size: 18px;
  }

  nav .nav-left a {
    width: 50%;
  }

  nav .nav-left,
  nav > div,
  .nav-left .nav-left-menu,
  .nav-right {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  nav > div {
    width: 100%;
    min-height: 100vh;
    justify-content: start;
    padding: 0;
  }

  nav a:hover *,
  nav a:hover,
  nav a:hover,
  nav button:hover {
    color: #ff6008;
  }
}
